.root {
    background-color: sandybrown;
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
    background-color: rgb(45, 218, 123);
}

.header{
    background-color: rgb(221, 196, 185);
}

.main{
    background-color: steelblue;
    flex-grow: 1;
}

.footer{
    background-color: green;
}

.floatFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
}